.container {
  display: grid;
  grid-template-columns: 12vw 24vw 32vw 32vw;
  grid-template-rows: 50vh 50vh;
  height: inherit;
}

@media only screen and (max-width: 850px) {
  .container {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 20vh 60vh 20vh 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 30vh 40vh 50vh 20vh 30vh 40vh 50vh;
  }
}

.ring-container {
  position: relative;
}

lib-ring-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
