.container {
  display: grid;
  grid-template-columns: 12vw 24vw 32vw 32vw;
  grid-template-rows: 50vh 50vh;
  height: inherit;
}

.ring-container {
  position: relative;
}

lib-ring-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
